ul.prog {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.prog li {
  display: inline-block;
  text-align: center;
  line-height: 3.5rem;
}
ul.prog li.prog-done {
  color: black;
  border-bottom: 4px solid #9b9b9b;
}
ul.prog li.prog-todo {
  color: silver;
  border-bottom: 4px solid silver;
}
ul.prog li.prog-end {
  border-bottom: 0px !important;
}
ul.prog li:after {
  position: relative;
  bottom: -2.5em;
  float: left;
  line-height: 1em;
}
ul.prog li.prog-done:after {
  content: "\2713";
  background-color: #9b9b9b;
  font-size: 1em;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}
ul.prog li.prog-todo:after {
  content: "\039F";
  color: silver;
  background-color: white;
  font-size: 2.2em;
  bottom: -1.2em;
}
