.singleLine {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  text-align: center;
  white-space: nowrap;
}

.anctag {
  text-decoration: none;
  color: unset;
}
.borderBottom {
  border-bottom: 5px solid #ccc;
}
.paddingText {
  padding: 1.5rem;
}
.borderBottom:hover {
  border-bottom: 5px solid #f44336;
}
