/* @import '../../../components/variables.css'; */
@import "./profileDetails.css";
@import "./Responsive.css";

.spinnerDiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
