@media screen and (max-width: 360px) and (min-width: 321px) {
  .modalSearchContent {
    width: 80%;
  }
  .Noresultsfound {
    font-size: 17px;
  }
}

@media screen and (max-width: 400px) and (min-width: 375px) {
  .modalSearchContent {
    width: 80%;
  }
  .Noresultsfound {
    font-size: 17px;
  }
}
@media screen and (max-width: 450px) and (min-width: 410px) {
  .modalSearchContent {
    width: 80%;
  }
  .Noresultsfound {
    font-size: 17px;
  }
}
@media screen and (max-width: 320px) {
  .modalSearchContent {
    width: 80%;
  }
  .Noresultsfound {
    font-size: 17px;
  }
}
