@media screen and (max-width: 360px) and (min-width: 321px) {
  .mob-flexspare {
    flex-direction: column;
  }
  .spare-content-1 {
    width: 100% !important;
    height: auto;
  }
  .spare-content-2 {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .order-number-spare {
    font-size: 16px;
  }
  .placed-order-spare {
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .part-brand-spare {
    display: flex;
    flex-direction: column;
  }
  .return-spare {
    margin-left: 0rem;
    margin-top: 1.3rem;
  }
  .padding-1rem-spare {
    margin-left: 1.2rem;
  }
  .padding-left-0-85rem {
    padding-left: 0rem;
  }
  .padding-left-1-5rem {
    padding-left: 0rem;
  }
  .padding-left-1-2rem {
    padding-left: 0rem;
  }
  .padding-right-1-87rem {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 400px) and (min-width: 375px) {
  .mob-flexspare {
    flex-direction: column;
  }
  .spare-content-1 {
    width: 100% !important;
    height: auto;
  }
  .spare-content-2 {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .order-number-spare {
    font-size: 16px;
  }
  .placed-order-spare {
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .part-brand-spare {
    display: flex;
    flex-direction: column;
  }
  .return-spare {
    margin-left: 0rem;
    margin-top: 1.3rem;
  }
  .padding-1rem-spare {
    margin-left: 1.2rem;
  }
  .padding-left-0-85rem {
    padding-left: 0rem;
  }
  .padding-left-1-5rem {
    padding-left: 0rem;
  }
  .padding-left-1-2rem {
    padding-left: 0rem;
  }
  .padding-right-1-87rem {
    padding-right: 0rem;
  }
}
@media screen and (max-width: 450px) and (min-width: 410px) {
  .mob-flexspare {
    flex-direction: column;
  }
  .spare-content-1 {
    width: 100% !important;
    height: auto;
  }
  .spare-content-2 {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .order-number-spare {
    font-size: 16px;
  }
  .placed-order-spare {
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .part-brand-spare {
    display: flex;
    flex-direction: column;
  }
  .return-spare {
    margin-left: 0rem;
    margin-top: 1.3rem;
  }
  .padding-1rem-spare {
    margin-left: 1.2rem;
  }
  .padding-left-0-85rem {
    padding-left: 0rem;
  }
  .padding-left-1-5rem {
    padding-left: 0rem;
  }
  .padding-left-1-2rem {
    padding-left: 0rem;
  }
  .padding-right-1-87rem {
    padding-right: 0rem;
  }
}
@media screen and (max-width: 320px) {
  .mob-flexspare {
    flex-direction: column;
  }
  .spare-content-1 {
    width: 100% !important;
    height: auto;
  }
  .spare-content-2 {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  .order-number-spare {
    font-size: 16px;
  }
  .placed-order-spare {
    font-size: 12px;
    margin-top: 0.5rem;
  }
  .part-brand-spare {
    display: flex;
    flex-direction: column;
  }
  .return-spare {
    margin-left: 0rem;
    margin-top: 1.3rem;
  }
  .padding-1rem-spare {
    margin-left: 1.2rem;
  }
  .padding-left-0-85rem {
    padding-left: 0rem;
  }
  .padding-left-1-5rem {
    padding-left: 0rem;
  }
  .padding-left-1-2rem {
    padding-left: 0rem;
  }
  .padding-right-1-87rem {
    padding-right: 0rem;
  }
}
