.spare-full-back {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: #f6f6f6;
}
.spare-width {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}
.flexspare {
  display: flex;
  flex-direction: row;
}
.spare-content-1 {
  width: 28%;
  height: 80vh;
  background-color: #ffffff;
}
.spare-content-2 {
  width: 70%;
  height: auto;
  background-color: #ffffff;
  margin-left: 2%;
  margin-bottom: 2rem;
}
.img-user-spare {
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #c6c6c6;
}
.spare-user-logo {
  width: 100%;
  justify-content: center;
  padding-top: 1.5rem;
}
.justifyflexspare {
  justify-content: center;
}
.select-tag {
  border: 2px solid #d7d7d7;
  width: 110px;
  height: 30px;
  border-radius: 15px;
  background: transparent;
  color: #7b7777;
  outline: none;
}
.list-block-end {
  border-block-end: 1px solid #e0dfe0;
  padding: 1rem;
  padding-left: 2rem;
}
.a-tag-spare {
  color: #9e9e9e;
  text-decoration: none;
}
/* ----------------------------------------------------------- */

.spare-order-top {
  background-color: #ebebeb;
  height: auto;
  padding: 1rem;
  padding-bottom: 0.7rem;
}
.order-number-spare {
  padding-bottom: 0.7rem;
  font-family: Gilroy;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}
.placed-order-spare {
  font-family: Gilroy;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: left;
  color: #282828;
}
.padding-1-1rem-spare {
  padding-top: 1.12rem;
  padding-left: 1.12rem;
  padding-right: 0.625rem;
}
.box-order-spare {
  width: 4.18rem;
  height: 3.85rem;
  background-color: rgba(155, 155, 155, 0.2);
}
.flexcolspare {
  display: flex;
  flex-direction: column;
}
.filter-spare {
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.14px;
  text-align: left;
  color: #4a4a4a;
}
.part-brand-spare {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.11px;
  text-align: left;
  color: #9b9b9b;
}
.invoice-spare {
  font-family: Gilroy;
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.14px;
  text-align: left;
  color: #ffac27;
  cursor: pointer;
}
.return-spare {
  margin-left: 1.25rem;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.14px;
  text-align: left;
  color: #088afa;
  cursor: pointer;
}
.padding-1rem-spare {
  margin-top: 1rem;
  margin-left: 5.93rem;
}
.unit-price-spares {
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.14px;
  text-align: left;
  color: #9b9b9b;
}
.free-spares {
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.14px;
  text-align: left;
  color: #4a4a4a;
}
.tracking-information-spare {
  font-family: Gilroy;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: 0.11px;
  text-align: left;
  color: #088afa;
}

/* Tracking */
ul.prog {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.prog li {
  display: inline-block;
  text-align: center;
}
ul.prog li.prog-done {
  color: #ffffff;
  border-bottom: 4px solid #9b9b9b;
}
ul.prog li.prog-end {
  border-bottom: 0px !important;
}
ul.prog li:before {
  position: relative;
  bottom: -1rem;
  float: left;
}
ul.prog li.prog-done:before {
  content: " \25CF";
  background-color: #9b9b9b;
  font-size: 0.5rem;
  height: 2.2em;
  width: 2.2em;
  line-height: 2.2em;
  border: none;
  border-radius: 2.2em;
}

.placed-on-spare {
  font-family: Gilroy;
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.9;
  letter-spacing: 0.09px;
  text-align: left;
  color: #9b9b9b;
}
.padding-left-0-85rem {
  padding-left: 0.85rem;
}
.padding-left-1-5rem {
  padding-left: 1.5rem;
}
.padding-left-1-2rem {
  padding-left: 1.25rem;
}
.padding-right-1-87rem {
  padding-right: 1.87rem;
}
